<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Comprendre l'infidélité en analysant les échanges de sexto">
    <meta name="author" content="Vongo">
    <link rel="icon" href="favicon.ico">

    <title>Bitch Data et réseaux sociaux</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Extra CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- AngularJS powa -->
    <script src="js/angular.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>
          Résultats de l'étude
          <small>
            <a class="btn btn-default pull-right" href="index.html">Accueil</a>
          </small>
        </h1>
      </div>

      <div class="row">
        <div class="col-md-5">
          <h3>Contexte de l'étude</h3>
          <h4>Les histoires d'amour finissent mal, en général</h4>
          <p>
          Même s'il ne pensait pas nécessairement appliquer ses maximes au cadre d'une relation interpersonnelle, Douglas Adams avait coutume de dire que lorsque vous êtes proche de la fin, il convient de remercier le Ciel pour tous les bons moments dont Il vous a fait grâce. Et si vous n'avez pas eu la chance d'en être pourvu, alors remerciez le Ciel de mettre fin à votre misérable parcours.<br/>
          Pourtant il existe une troisième voie, tristement la plus commune, la voie d'une relation florissante qui prend fin dans le chaos le plus total avant que vous ne puissiez réaliser ce qui vous arrive. Et là, entre deux sanglots, le cœur lourd et la pupille dilatée, vous essayez désespérément de comprendre comment vous avez pu, vous de coutume si sérieux, en arriver à devenir cette loque méprisable tout droit sortie d'une comédie romantique de bas de gamme, et dont vous preniez tant de plaisir à vous gausser.<br/>
          Et là, il y a autant de manières de réagir qu'il y a de races de malheur.<br/>
          L'auteur de ce billet aurait pu se morfondre devant Bridget Jones et se gaver de glace, faire la tournée des bars pour venger dans l'anonymat de coups d'un soir sa fierté malade, ou encore noyer dans le travail aveugle la conscience de sa douleur.<br/>
          Mais l'auteur de ce post est amateur de belle logique, et quelque chose dans sa dramatique expérience semblait trop brusque. L'auteur de ce post a donc pris le parti de comprendre. Et s'en est donné les moyens.
          </p>
          <h4>M'Isengard.</h4>
          <p>
          Il est évident que le jeu de données sur lequel se base cette étude est issu de la seule imagination de ses auteurs. Toute ressemblance avec des personnages existants serait bien infortunée, et particulièrement pour eux.<br/>
          Du reste, les hypothèses levées et les conclusions tirées n'engagent que l'auteur de ce post au titre de spéculations et en tant que telles.
          L'intérêt princpal de cet article réside en la démarche suivie et les raisonnements établis pour atteindre ses conclusions.
          </p>
          <h4>Des marches du "pour voir"</h4>
          <p>
          Imaginons un instant que l'infortunée victime d'une infidèle moitié mette, par un fortuit hasard, la main sur l'intégralité des messages échangés par celle-ci sur une période d'un an. Il va sans dire que le volume du jeu de données ainsi constitué n'en permettrait pas une lecture intégrale, et d'autant moins une lecture intelligente. Notre victime pourrait, certes, cibler les zones sensibles, mais cela en suppose une connaissance, ou au moins une intuition, préalable.<br/>
          Mais il ne faut pas oublier que l'auteur de ce post est un amateur de logique en tout genre. Il a donc pris le parti, et c'est là tout son génie, d'effectuer une analyse systématique desdites données afin d'en comprendre la structure et d'identifier les zones à risque. Pourtant, cette étude a fini par aller beaucoup plus loin que ça.
          </p>
        </div>
        <div class="col-md-7">
          <h3>Visualisation</h3>
          <img id="map" src="img/map.jpg" width="100%" style="z-index:-1000">
        </div>
      </div>

      <div data-ng-app="app" data-ng-controller="DetailsCtrl" class="row">
        <h3>Détails</h3>
        <div class="col-md-4">
          <p>
            Choisissez un acteur à observer. Vous pouvez comparer plusieurs
            acteurs en cliquant sur l'icône "+".<br> Sélectionnez ensuite des
            modalité d'observation (jour de la semaine, jour du mois, etc.) et
            cliquez sur "Rechercher".
          </p>
          <form action="#">
            <label for="actors">Acteurs</label>
            <div class="form-group">
              <div data-ng-repeat="currentActor in currentActors track by $index" class="row">
                <div class="col-md-2">
                  <button type="button" data-ng-click="removeActor($index)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </div>
                <div class="col-md-10">
                  <select class="form-control" data-ng-model="currentActors[$index]"
                    data-ng-options="actor.name for actor in possibleActors">
                  </select>
                </div>
              </div>

              <div data-ng-show="currentActors.length < maxActors" class="row">
                <button type="button" data-ng-click="addActor()" class="btn btn-block btn-primary btn-sm">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>

            <label for="method">Méthode</label>
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" data-ng-model="method" value="count"> Nombre de messages
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" data-ng-model="method" value="length"> Longueur des messages
                </label>
              </div>
            </div>

            <label for="period">Période</label>
            <div class="form-group">
              <select class="form-control" data-ng-model="currentPeriod"
                data-ng-options="period.code as period.text for period in possiblePeriods">
              <select id="period" class="form-control">
                <option value="MonthInYear">Mois dans l'année</option>
                <option value="DayInWeek">Jour dans la semaine</option>
                <option value="DayInMonth">Jour dans le mois</option>
                <option value="HourInDay">Heure dans la journée</option>
              </select>
            </div>
          </form>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6" data-ng-repeat="actor in currentActors" data-ng-if="method && currentPeriod && actor">
          <h4>{{ actor.name }}</h4>
          <img style="width:100%" src="img/{{ method }}/{{ currentPeriod }}/{{ actor.code }}.png">
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-8 col-md-offset-2" id='thanks' align='center'>
          <font face="Comic sans MS" >
            <span class="blink_text">
              Special greetings to @AJ, @jmcomets, @SAS_MonsieurLeComte && @F***kingIntern <br/>
              for the time they took to make this possible.
            </span>
          </font>
        </div>
      </div>
    </div>

    <!-- JQuery/Bootstrap core JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <!-- Panzoom -->
    <script src="js/jquery.panzoom.min.js"></script>
    <!-- AngularJS app -->
    <script src="js/app.js"></script>
  </body>
</html>
